  <tabset>
    <tab heading="My Account">
    		
    	<h3>Total of transactions from today &pound;{{total}}</h3>
    	<br />
    	<table class="table table-striped">
		  <th>
		  	<td>Transaction id</td>
		  	<td>Date</td>
		  	<td>Detail</td>
		  	<td>Amount</td>
		  </th>
		   <tr>
		   	<td>1</td>
		  	<td>EE78890</td>
		  	<td>15:13 21/3/2014</td>
		  	<td>Superhero - Mario</td>
		  	<td>&pound;34.99</td>
		  </tr>
		  <tr>
		  	<td>2</td>
		  	<td>EF23442</td>
		  	<td>15:48 21/3/2014</td>
		  	<td>Superhero - Superman</td>
		  	<td>&pound;49.85</td>
		  </tr>
		  <tr>
		  	<td>3</td>
		  	<td>EE78000</td>
		  	<td>18:14 21/3/2014</td>
		  	<td>Superhero - Minion</td>
		  	<td>&pound;3.50</td>
		  </tr>
		</table>
    </tab>
    <tab heading="Charity account">

    	<img style="height:100px" src="http://www.gosh.org/EasysiteWeb/getresource.axd?AssetID=6557&type=custom&servicetype=Inline&customSizeId=2"></img>
    	<h3 style="display:inline-block">Total collected from today &pound;0.66</h3>
    	<br />
    	
    	<table class="table table-striped">
		  <th>
		  	<td>Transaction id</td>
		  	<td>Date</td>
		  	<td>Detail</td>
		  	<td>Amount</td>
		  </th>
		   <tr>
		   	<td></td>
		  	<td>1</td>
		  	<td>15:13 21/3/2014</td>
		  	<td>AutoDonated from purchase (EE78890)</td>
		  	<td>&pound;0.01</td>
		  </tr>
		  <tr>
		  	<td></td>
		  	<td>2</td>
		  	<td>15:48 21/3/2014</td>
		  	<td>AutoDonated from purchase (EF23442)</td>
		  	<td>&pound;0.15</td>
		  </tr>
		  <tr>
		  	<td></td>
		  	<td>3</td>
		  	<td>18:14 21/3/2014</td>
		  	<td>AutoDonated from purchase (EE78000)</td>
		  	<td>&pound;0.50</td>
		  </tr>
		</table>
    </tab>
  </tabset>

