<div ng-include="'partials/navbar'"></div>

<div class="marginTopAndBottom pricePage">
  <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h3>Hey <span ng-show="currentUser">{{ currentUser.name }}</span>, wanna buy a superhero?</h3>
        </div>
        
        <div class="col-sm-6 col-md-4" ng-repeat="hero in superheros">
          <div class="thumbnail">
            <img ng-src="images/{{hero.img}}">
            <div class="caption">
              <h3>{{hero.name}}</h3>
              <p class="fixedTextHeight">{{hero.desc}}</p>
              <p><a class="btn btn-lg btn-success" ng-href="summary/{{hero._id}}" ng-hide="addTransaction">{{hero.price|currency}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>